.section{:class => "edit-page"}
	= form_for @user do |f|
		.row
			%form.col.s12
				.row
					.input-field.col.s4
						=f.label :first_name, "名"
						=f.text_field :first_name
					.input-field.col.s4
						=f.label :last_name, "姓"
						=f.text_field :last_name
					.input-field.col.s4
						=f.label :email, "信箱"
						=f.text_field :email
				.row
					.input-field.col.s6
						=f.label :height, "身高"
						=f.text_field :height
					.input-field.col.s6
						=f.label :weight, "體重"
						=f.text_field :weight
				.row
					.input-field.col.s4
						=f.label :sat, "SAT"
						=f.text_field :sat
					.input-field.col.s4
						=f.label :act, "ACT"
						=f.text_field :act
					.input-field.col.s4
						=f.label :toefl, "TOEFL"
						=f.text_field :toefl
				.row
					.input-field.col.s4
						=f.label :itf, "ITF 排名"
						=f.text_field :itf
					.input-field.col.s4
						=f.label :utr, "Universal Tennis Rating"
						=f.text_field :utr
					.input-field.col.s4
						=f.label :ntr, "全國排名"
						=f.text_field :ntr
				.row
					.input-field.col.s12
						%i.material-icons.prefix mode_edit
						=f.label :about, "關於我"
						=f.text_area :about, class: 'materialize-textarea'
				/ .row
				/ 	.input-field.col.s12
				/ 		=f.label :created_at, "加入日期"
				/ 		=f.text_field :created_at, disabled: "diabled"
				.row
					.input-field.col.s3
						=f.radio_button :righthanded, false, :checked => true, value: false, class: "with-gap"
						=f.label :righthanded, "左手持拍", value: false, name: "group1"
						=f.radio_button :righthanded, true, value: true, class: "with-gap"
						=f.label :righthanded, "右手持拍", value: true, name: "group1"
					.input-field.col.s3
						=f.radio_button :double_handed_backhand, false, :checked => true, value: false, class: "with-gap"
						=f.label :double_handed_backhand, "單手反拍", value: false, name: "group2"
						=f.radio_button :double_handed_backhand, true, value: true, class: "with-gap"
						=f.label :double_handed_backhand, "雙手反拍", value: true, name: "group2"
			%a.waves-effect.waves-light.btn.col.s6.center-align
				= f.submit
	
/		    .row
/		      .col.s12
/		        This is an inline input field:
/		        .input-field.inline
/		          %input#email.validate{:type => "email"}/
/		          %label{"data-error" => "wrong", "data-success" => "right", :for => "email"} Email
