.section{:class => "edit-page"}
	= form_for @user do |f|
		.row
			%form.col.s12
				.row
					.input-field.col.s6
						=f.label :first_name
						=f.text_field :first_name
					.input-field.col.s6
						=f.label :last_name
						=f.text_field :last_name
				.row
					.input-field.col.s6
						=f.label :height
						=f.text_field :height
					.input-field.col.s6
						=f.label :weight
						=f.text_field :weight
				.row
					.input-field.col.s4
						=f.label :sat, "SAT"
						=f.text_field :sat
					.input-field.col.s4
						=f.label :act, "ACT"
						=f.text_field :act
					.input-field.col.s4
						=f.label :toefl, "TOEFL"
						=f.text_field :toefl
				.row
					.input-field.col.s4
						=f.label :itf, "ITF 排名"
						=f.text_field :itf
					.input-field.col.s4
						=f.label :utr, "Universal Tennis Rating"
						=f.text_field :utr
					.input-field.col.s4
						=f.label :ntr, "全國排名"
						=f.text_field :ntr
				.row
					.input-field.col.s12
						%input#disabled.validate{:disabled => "disabled", :type => "text", :value => "I am not editable"}/
						%label{:for => "disabled"} Disabled
				.row
					.input-field.col.s6
						%input#first_name.validate{:placeholder => "Placeholder", :type => "text"}/
						%label{:for => "first_name"} First Name
				.row
					.input-field.col.s3
						%input#righthanded.with-gap{:name => "group1", :value => true, :type => "radio"}/
						%label{:for => "righthanded", :value => "true"} 右手持拍
						%input#lefthanded.with-gap{:name => "group1", :value => false, :type => "radio"}/
						%label{:for => "lefthanded", :value => "false"} 左手持拍
					.input-field.col.s3
						%input#test3.with-gap{:name => "group2", :type => "radio"}/
						%label{:for => "test3"} 雙手反拍
						%input#test4.with-gap{:name => "group2", :type => "radio"}/
						%label{:for => "test4"} 單手反拍
			%a.waves-effect.waves-light.btn.col.s6.center-align
				= f.submit
	
/		    .row
/		      .col.s12
/		        This is an inline input field:
/		        .input-field.inline
/		          %input#email.validate{:type => "email"}/
/		          %label{"data-error" => "wrong", "data-success" => "right", :for => "email"} Email
