<div class="white-margin">
	<div class="user-page">
	<div class="user-page-left">
		<section class="user-page-left-info">
			<div class="user-name">
				<h3 class="font-ch">陳漢宇</h3>
				<h3 class="font-en">Han-Yu Chen</h3>
			</div>
			<div class="user-info">
				<img src="/avatar.png">
				<div class="user-info-right">
					<div class="user-info-physical">
						<p>Right Handed</p>
						<p>180cm</p>
						<p>78kg</p>
					</div>
					<div class="user-info-training">
						<div class="training-left">
							<div class="user-info-block">
								<div class="training-title">
									<p>球隊/學校:</p>
								</div>
								<div class="training-content">
									<p>大慶商工</p>
								</div>
							</div>
							<div class="user-info-block">
								<div class="training-title">
									<p>城市:</p>
								</div>
								<div class="training-content">
									<p>台中</p>
								</div>
							</div>

						</div>
						<div class="training-right">
							<div class="user-social">
								<div class="user-followers">
									<p>追蹤人數</p>
									<p>100</p>
								</div>
								<div class="user-followees">
									<p>粉絲</p>
									<p>5000</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>
			<section class="user-page-left-athletic"> 	
			  <ul id="tabs-swipe-demo" class="tabs">
			    <li class="tab col s3"><a href="#test-swipe-1">運動</a></li>
			    <li class="tab col s3"><a href="#test-swipe-2">學業</a></li>
			    <li class="tab col s3"><a href="#test-swipe-3">影片</a></li>
			  </ul>
			  <div id="test-swipe-1" class="col s12 blue">
			  	<div class="athletic-record">
				  	<p>ITF 排名:</p>
				  	<p>215</p>
			  	</div>
			  	<div class="athletic-record">
				  	<p>UTR 排名:</p>
				  	<p>10</p>
			  	</div>
			  	<div class="athletic-record">
				  	<p>全國 排名:</p>
				  	<p>13</p>
			  	</div>
			  </div>
			  <div id="test-swipe-2" class="col s12 red">Test 2</div>
			  <div id="test-swipe-3" class="col s12 green">Test 3</div>
			</section>
			</div>
		<div class="user-page-right">
			right
		</div>
	</div>
</div>