<div class="white-margin">
	<div class="user-page">
	<div class="user-page-left">
		<section class="user-page-left-info">
			<div class="user-name">
				<h3 class="font-ch">陳漢宇</h3>
				<h3 class="font-en">Han-Yu Chen</h3>
			</div>
			<div class="user-info">
				<img src="/avatar.png">
				<div class="user-info-right">
					<div class="user-info-physical">
						<p>Right Handed</p>
						<p>180cm</p>
						<p>78kg</p>
					</div>
					<div class="user-info-training">
						<div class="training-left">
							<div class="user-info-block">
								<div class="training-title">
									<p>球隊/學校:</p>
								</div>
								<div class="training-content">
									<p>大慶商工</p>
								</div>
							</div>
							<div class="user-info-block">
								<div class="training-title">
									<p>城市:</p>
								</div>
								<div class="training-content">
									<p>台中</p>
								</div>
							</div>
							<div class="user-info-block">
								<div class="training-title">
									<p>ITF RANKING:</p>
								</div>
								<div class="training-content">
									<p>200</p>
								</div>
							</div>
						</div>
						<div class="training-right">
							<div class="user-social">
								<div class="user-followers">
									<h5>追蹤人數</h5>
									<h3>100</h3>
								</div>
								<div class="user-followees">
									<h5>粉絲</h5>
									<h3>5000</h3>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>
			<section class="user-page-left-athletic"> 
				<div>sdf</div>
			</section>
			</div>
		<div class="user-page-right">
			right
		</div>
	</div>
</div>