.white-margin
  .user-page
    .user-page-left
      %section.user-page-left-info
        .user-name
          %h3.font-ch
            =@user.first_name
          %h3.font-en
            =@user.last_name
        .user-info
          .user-avatar
            =image_tag @user.avatar_url
            = form_for @user do |f|
              %p
                = f.label "更換大頭貼"
                = f.file_field :avatar, class: "avatar-upload"
              %a.waves-effect.waves-light.btn
                = f.submit "更換大頭貼"
          .user-info-right
            .user-info-physical
              %p Right Handed
              %p 180cm
              %p 78kg
            .user-info-training
              .training-left
                .user-info-block
                  .training-title
                    %p 球隊/學校:
                  .training-content
                    %p 大慶商工
                .user-info-block
                  .training-title
                    %p 城市:
                  .training-content
                    %p 台中
              .training-right
                .user-social
                  .user-followers
                    %p 追蹤人數
                    %p
                      =@user.followers.count
                  .user-followees
                    %p 粉絲
                    %p
                      =@user.followees.count
      %section.user-page-left-athletic
        %ul#tabs-swipe-demo.tabs
          %li.tab.col.s3
            %a{:href => "#test-swipe-1"} 運動
          %li.tab.col.s3
            %a.active{:href => "#test-swipe-2"} 學業
          %li.tab.col.s3
            %a{:href => "#test-swipe-3"} 影片
        #test-swipe-1.col.s12.blue
          .athletic-record
            %p ITF 排名:
            %p
              =@user.itf
          .athletic-record
            %p UTR 排名:
            %p
              =@user.utr
          .athletic-record
            %p 全國 排名:
            %p
              =@user.ntr
        #test-swipe-2.col.s12.pink
          .athletic-record
            %p SAT 成績
            %p
              =@user.sat
          .athletic-record
            %p ACT 成績
            %p
              =@user.act
          .athletic-record
            %p TOEFL 成績
            %p
              =@user.toefl
        #test-swipe-3.col.s12.green
          .video-container
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/videoseries?list=PLmVw0Ou6nvAD0SLC2QjXySCgTQur9Xj3r", :width => "853"}
      %section.user-page-left-about
        關於我
    .user-page-right
      right
