/*Body*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.font-en {
  font-family: 'Open Sans', sans-serif;
}

.font-ch{
  font-family: 'Noto Sans TC', sans-serif;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  background: #e6e9ec;
}

/*=====Navbar=====*/
.nav-wrapper{
	background: #283e4a;
}

.nav-logo img{
	padding-top: 10px;
}

#nav-mobile.left a:hover{
	background-color: transparent 
}

.nav-width{
	width: 75%;
	margin: 0 auto;
}

/*Login page*/
label{
	color: white
}

.login-form, .register-form{
	width: 50%;
	margin: 0 auto 
}


/*=====User Page=====*/
.white-margin{
  padding: 2rem 2rem;
}

.user-page{
	display: flex;
}

/*=====User Page Left=====*/

.user-page-left{
	width: 70%;
}
.user-page-left-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.user-name, .user-info{
	display: flex;
	text-align: center;
	justify-content: center;
}

.user-info img{
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.user-info{
  padding: 2rem 2rem;
  align-items: center;
}

.user-info-physical{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	text-transform: uppercase;
}

.user-info-training{
	display: flex;
}

.user-info-right{
	width: 100%;
  padding: 0rem 2rem;
}
.user-info-block{
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: left;
}

.training-left, .training-right{
	width: 50%;
}

.user-social{
	width: 100%;
}

.user-followers, .user-followees{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
}

/*=======athletic=====*/
.user-page-left-athletic{
  margin-top: 2rem;
 	background-color: #ffffff;
}

.athletic-record{
	display: flex;
	width: 50%;
	justify-content: space-around;	
}

.user-page-left-about{
	margin-top: 2rem;
 	background-color: #ffffff;
}


/*=====User Page Right=====*/


.user-page-right{
	width: 30%;
	display: flex;
	justify-content: center;
	background-color: #e6e9ec;
}