/*Body*/
body{
  background: #e6e9ec;
}

/*=====Navbar=====*/
.nav-wrapper{
	background: #283e4a;
}

.nav-logo img{
	padding-top: 10px;
}

#nav-mobile.left a:hover{
	background-color: transparent 
}

.nav-width{
	width: 75%;
	margin: 0 auto;
}

/*Login page*/
label{
	color: white
}

.login-form, .register-form{
	width: 50%;
	margin: 0 auto 
}


/*=====User Page=====*/
.white-margin{
  padding: 2rem 2rem;
}

.user-page{
	background-color: #ffffff;
	display: flex;
}

/*=====User Page Left=====*/

.user-page-left{
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-name, .user-info{
	text-align: center;
}

.user-info img{
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.user-info{
	display: flex;
}

.user-info-physical{
	display: flex;
	justify-content: space-around;
}

.user-info-training{
	display: flex;
	justify-content: space-around;
}

.user-info-right{
	width: 100%;
}
/*=====User Page Right=====*/


.user-page-right{
	width: 30%;
	display: flex;
	justify-content: center;
	background-color: #e6e9ec;
}