/*Body*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.font-en {
  font-family: 'Open Sans', sans-serif;
}

.font-ch{
  font-family: 'Noto Sans TC', sans-serif;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  background: #e6e9ec;
}

.section-title{
	font-weight: bold;
	font-style: italic;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 0;
}
/*=====Navbar=====*/
.nav-wrapper{
	background: #283e4a;
}

.nav-logo img{
	padding-top: 10px;
}

#nav-mobile.left a:hover{
	background-color: transparent 
}

.nav-width{
	width: 75%;
	margin: 0 auto;
}


/*=====Welcome Page=====*/
.container{
	justify-content: center;
}
.card{
	padding: 1rem 0 0 0.5rem;
}

/*Login page*/
label{
	color: white
}

.login-form, .register-form{
	width: 50%;
	margin: 0 auto 
}


/*=====User Page=====*/
.white-margin{
  padding: 2rem 2rem;
}

.user-page{
	display: flex;
}

/*=====User Page Left=====*/

.user-page-left{
	width: 70%;
}
.user-page-left-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
}

.user-name, .user-info{
	display: flex;
	text-align: center;
	justify-content: center;
}

.user-avatar{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-info img, .edit-user-avatar img{
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.user-info{
  padding: 2rem 2rem;
  align-items: center;
}

.user-info-physical{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	text-transform: uppercase;
}

.user-info-training{
	display: flex;
}

.user-info-right{
	width: 100%;
  padding: 0rem 2rem;
}
.user-info-block{
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: left;
	height: 50%;
}

.training-left, .training-right{
	width: 50%;

}

.user-followers, .user-followees{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	margin: auto;
	width: 100%;
}

/*=======Athletic=====*/
.user-page-left-athletic, .user-page-left-about, .user-page-left-tweets{
  margin-top: 2rem;
 	background-color: #ffffff;
}

.athletic-record{
	display: flex;
	width: 50%;
	justify-content: space-around;	
}

/*====About Section======*/
.user-page-left-about p{
	padding: 0 1rem;
}
/*=====User Page Right=====*/


.user-page-right{
	width: 30%;
	display: flex;
	justify-content: center;
	background-color: #e6e9ec;
}

/*======Edit Page=====*/
.edit-page{
	width: 55%;
	margin: 2rem auto;
	padding: 18px; 
	background-color: #ffffff;
}

.edit-user-avatar{
	display: flex;
	justify-content: center;
}


/*=====Followers/Followees Page*/
.followers{
	width: 80%;
	margin: auto
}

.follower-avatar img{
	height:72px;
	width: 72px;
	border-radius: 50%
}

.followers-list{
	padding: 0.5rem 1rem;
	display: flex;
	width: 100%
}

.follower-href{
	display: flex;
	padding: 0 1rem;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.follwer-name{
	color: black;
	font-size: 1.1rem;
}

.follower-about{
	color: rgba(0,0,0,.55);
	font-size: 0.8rem;
}

ul .divider{
	width: 90%;
	float: right;
}


