%nav
  .nav-wrapper
    %div.nav-width
      %ul#nav-mobile.left
        %li.nav-logo
          = link_to image_tag("/logo.png"), root_path
          %li
            =form_tag find_users_path do
              .input-field
                %input#search{:required => "", :type => "text", :name => "query"}
                %label.label-icon{:for => "search"}
                  %i.material-icons search

      %ul#nav-mobile.right
        - if current_user && current_user.admin
          %li
            =link_to "管理者", admin_path
        - if current_user
          %li
            = link_to current_user.last_name + current_user.first_name, user_path(current_user.id)
          %li
            = link_to "發文", new_tweet_path
          %li
            =link_to "登出", logout_path, method: "delete"
        -else
          %li
            =link_to "登入", login_path
          %li
            =link_to "註冊", register_path
