%nav
  .nav-wrapper
    %ul#nav-mobile.left
      %li.nav-logo
        = link_to image_tag("/logo.png"), root_path
      - if current_user
        %li
          = link_to "#{current_user.username}", user_path(current_user.id)
    %ul#nav-mobile.right
      - if current_user && current_user.admin
        %li
          =link_to "Admin", admin_path
      - if current_user
        %li
          =link_to "Log out", logout_path, method: "delete"
      -else
        %li
          =link_to "Log in", login_path
        %li
          =link_to 'Register', register_path

